html {
    background-image: url("../images/backgroundnosilhouette.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background: rgba(255, 255, 255, 0);
    color: #3c58a4;
    font-family: 'Kavivanar', cursive;
    font-weight: bold;
}

.col-sm-7 {
    top: 110px;
    text-align: center;
}

.col-sm-5 {
    top: 100px;
}

img {
    height: 300px;
    width: auto;
}

.col-sm-7 img {
    height: 90px;
    width: auto;
}


#shown {
    letter-spacing: 5px;
    font-size: 20px;
}

#lettersGuessed {
    letter-spacing: 5px;
    font-size: 15px;
}

#newGame {
    background-color: #ffca0a;
    color: #3c58a4;
}