html {
    background-image: url("../images/backgroundnosilhouette.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background: rgba(255, 255, 255, 0);
}

.col-sm-7 {
    top: 140px;
    text-align: center;
}

.col-sm-5 {
    top: 100px;
}

img {
    height: 300px;
    width: auto;
}

.titles {

}

#shown {
    letter-spacing: 5px;
    font-size: 15px;
    font-weight: bold;
}